Reports/PN/PNC501_C_R.xsd

<?xml version="1.0" encoding="utf-8"?>                                                                                                                                                                                                                                                                   
<xs:schema id="XSDSchema2" targetNamespace="http://tempuri.org/XSDSchema2.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XSDSchema2.xsd" xmlns:mstns="http://tempuri.org/XSDSchema2.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"> 
  <xs:element name="Document">                                                                                                                                                                                                                                                                           
    <xs:complexType>                                                                                                                                                                                                                                                                                     
      <xs:choice minOccurs="0" maxOccurs="unbounded">                                                                                                                                                                                                                                                    
        <xs:element name="PNC501_C_R">                                                                                                                                                                                                                                                                   
          <xs:complexType>                                                                                                                                                                                                                                                                               
            <xs:sequence>                                                                                                                                                                                                                                                                                
              <xs:element name="GivCd" type="xs:string" />                                                                                                                                                                                                                                               
              <xs:element name="Others" type="xs:decimal" />
              <xs:element name="thers" type="xs:decimal" />                                                                                                                                                                                                                                             
              <xs:element name="ConsultationCd" type="xs:string" />                                                                                                                                                                                                                                      
              <xs:element name="ReceiptDt" type="xs:string" />                                                                                                                                                                                                                                           
              <xs:element name="ReceiptStTime" type="xs:string" />                                                                                                                                                                                                                                       
              <xs:element name="ReceiptEdTime" type="xs:string" />                                                                                                                                                                                                                                       
              <xs:element name="SubscribeCd" type="xs:string" />                                                                                                                                                                                                                                         
              <xs:element name="ReceiptCd" type="xs:string" />                                                                                                                                                                                                                                           
              <xs:element name="SubscribeNm" type="xs:string" />                                                                                                                                                                                                                                         
              <xs:element name="Addr1" type="xs:string" />                                                                                                                                                                                                                                               
              <xs:element name="Addr2" type="xs:string" /> 
              
              <xs:element name="SubscriberNm" type="xs:string" />
              <xs:element name="NewAddr" type="xs:string" />
              <xs:element name="NewBranchCd" type="xs:string" />
              <xs:element name="PhoneNum_New" type="xs:string" />
              <xs:element name="PhoneNum2_new" type="xs:string" />
              <xs:element name="MobileNum_new" type="xs:string" />
              <xs:element name="DeptNm_new" type="xs:string" />                                                                                                                                                                                                                                               
              <xs:element name="EmpNm_new" type="xs:string" />                                                                                                                                                                                                                                              
              <xs:element name="PhoneNumber" type="xs:string" />
              <xs:element name="ReceiptStDt" type="xs:string" />
              <xs:element name="ReceiptEdDt" type="xs:string" />                                                                                                                                                                                                                                         
              <xs:element name="ExpandDivCd" type="xs:string" />                                                                                                                                                                                                                                         
              <xs:element name="BranchCd" type="xs:string" />                                                                                                                                                                                                                                            
              <xs:element name="BranchNm" type="xs:string" />                                                                                                                                                                                                                                            
              <xs:element name="BizEmpTeamCd" type="xs:string" />  
              <xs:element name="weekdate" type="xs:string" />                                                                                                                                                                                                                                      
              <xs:element name="BizEmpTeamNm" type="xs:string" />                                                                                                                                                                                                                                        
              <xs:element name="BizEmpNum" type="xs:string" />                                                                                                                                                                                                                                           
              <xs:element name="BizEmpNm" type="xs:string" />                                                                                                                                                                                                                                            
              <xs:element name="Contents" type="xs:decimal" />
              <xs:element name="CnsltEmpNum" type="xs:decimal" />
              <xs:element name="CnsltEmpNm" type="xs:decimal" />                                                                                                                                                                                                                                           
              <xs:element name="Results" type="xs:decimal" />                                                                                                                                                                                                                                            
              <xs:element name="StateCd" type="xs:string" />                                                                                                                                                                                                                                             
              <xs:element name="FinishDt" type="xs:string" />
              <xs:element name="SmsResultsTime" type="xs:string" />                                                                                                                                                                                                                                            
              <xs:element name="ReceiveSendBit" type="xs:decimal" />                                                                                                                                                                                                                                     
              <xs:element name="Remark" type="xs:string" />                                                                                                                                                                                                                                              
              <xs:element name="NotifyYN" type="xs:string" />                                                                                                                                                                                                                                            
              <xs:element name="SolicitorNotifyDt" type="xs:string" />                                                                                                                                                                                                                                   
            </xs:sequence>                                                                                                                                                                                                                                                                               
          </xs:complexType>                                                                                                                                                                                                                                                                              
        </xs:element>                                                                                                                                                                                                                                                                                    
      </xs:choice>                                                                                                                                                                                                                                                                                       
    </xs:complexType>                                                                                                                                                                                                                                                                                    
  </xs:element>                                                                                                                                                                                                                                                                                          
</xs:schema>                                                                                                                                                                                                                                                                                