Reports/PN/PNE601_C_R.xsd.bak

<?xml version="1.0" encoding="utf-8"?> 
<xs:schema id="XSDSchema2" targetNamespace="http://tempuri.org/XSDSchema2.xsd" elementFormDefault="qualified" xmlns="http://tempuri.org/XSDSchema2.xsd" xmlns:mstns="http://tempuri.org/XSDSchema2.xsd" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:msdata="urn:schemas-microsoft-com:xml-msdata"> 
  <xs:element name="Document"> 
    <xs:complexType> 
      <xs:choice minOccurs="0" maxOccurs="unbounded"> 
        <xs:element name="PNE601_C_R"> 
          <xs:complexType> 
            <xs:sequence> 
				<xs:element name="Orders" type="xs:decimal" />
				<xs:element name="AllowanceYearMonth" type="xs:string" />
				<xs:element name="AllowanceType" type="xs:string" />
				<xs:element name="AllowanceContents" type="xs:string" />
				<xs:element name="AllowanceYesOrNo" type="xs:string" />
				<xs:element name="Remark" type="xs:string" />
            </xs:sequence> 
          </xs:complexType> 
        </xs:element> 
      </xs:choice> 
    </xs:complexType> 
  </xs:element> 
</xs:schema>         